*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.menu_wrap{
  width:300px;
  text-align: right;
}

.menu_wrap *{
  width:100px;
  text-align: center;
  display:inline-block;
  height:59px;
}

.nav_inner{
  width:1200px;
  margin:0 auto;
}

.nav_inner > nav{
  display: flex;
  justify-content: space-between;
  height:60px;
  line-height: 60px;
}

.inner{
  width:1200px;
  margin:0 auto;
  padding-bottom: 100px;
}

.main_logo{
  font-size:30px;
  color:#0090ff;
  font-weight:bold;
}

.menu_wrap a{
  font-size:18px;
  font-weight:600;
  color: black;
}

.menu_wrap a:hover{
  border-bottom:2px solid #000;
}

.banner{
  width: 100%;
  height:250px;
  background:#0090ff
}

.write_tab{
  border-bottom: 1px solid #000;
  height:80px;
  padding-top: 17px;
  text-align: right;
}

.write_tab button{
  outline:none;
  border:none;
  width: 180px;
  padding:10px 0px;
  background:#0090ff;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  color:#fff;
  margin-right: 335px;
}

.write_tab button:hover{
  cursor: pointer;
}

.btn_wrap{
  margin-top: 90px;
}



.list_wrap{
  width:250px;
  height:300px;
  display: inline-block;
  margin-top:40px;
  margin-right:65px;
  -webkit-box-shadow: 7px 6px 23px 0px rgb(0 0 0 / 50%);
  -moz-box-shadow: 7px 6px 23px 0px rgba(0,0,0,0.5);
  box-shadow: 7px 6px 23px 0px rgb(0 0 0 / 50%);
  padding:20px;
}

.list_wrap:hover{
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 50%);
  transition: 0.3s;
}

.list_wrap:nth-child(4n){
  margin-right:0;
}

.inner label{
  display:block;
}

.login_form{
  display:inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
  width:380px;
}

.title {
	text-align: center;
	font-size: 40px;
	margin: 70px 0;
	font-weight: 600;
}

.logInput{
    outline: none;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    height: 60px;
    padding-left: 20px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
  }
  .login_form button{
    display:block;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 110px;
    padding: 0 20px;
    border: 1px solid transparent;
    border-radius: 3px;
    height: 60px;
    color: #fff;
    background: #3090d6;
    margin-top:60px;
    font-size: 23px;
  }

  .login_form button:hover{
    cursor: pointer;
  }

  .detail_inner{
    width:1000px;
    margin:0 auto;
    padding-bottom: 50px;
  }
  
  .comment_wrap{
    height:80px;
    text-align: center;
    margin-top:40px;
    padding-bottom:40px;
    border-bottom:1px solid #ccc;
  }


  .comment_wrap input{
    width:600px;
    height:40px;
    padding:10px;
    outline:none;
    line-height:40px;
    font-size:18px;
  }
  .comment_wrap button{
    display:inline-block;
    width: 130px;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 110px;
    padding: 0 20px;
    border: 1px solid transparent;
    border-radius: 3px;
    height: 40px;
    color: #fff;
    background: #3090d6;
    font-size:18px;
    font-weight:bold;
    line-height: 40px;
  }

  .commentList_wrap {
    width: 100%;
    border-bottom:1px solid #ccc;
    height: 100px;
    padding: 10px 20px;
    position:relative;
  }

  .commentList_wrap button{
    position:absolute;
    top:50%;
    right:30px;
    transform:translateY(-50%)
  }
  
  .comment_id {
    font-size: 14px;
    font-weight: bold;
    display: block;
  }
  
  .comment_content {
    font-size: 20px;
    margin-top: 15px;
    display: inline-block;
  }

  .write_wrap {
    width: 1000px;
    margin: 0 auto;
  }
  
  label {
    display: inline-block;
    width: 200px;
    text-align: center;
  }
  
  .title_wrap input {
    width: 700px;
    height: 40px;
    padding-left: 20px;
    outline: none;
    border: 1px solid #cdcdcd;
  }
  
  .content_wrap {
    margin-top: 50px;
  }
  
  .content_wrap textarea {
    width: 700px;
    outline: none;
    border: 1px solid #cdcdcd;
    resize: none;
    padding-top: 10px;
    padding-left: 20px;
  }
  
  .content_wrap label {
    position: relative;
    top: -75px;
  }
  
  .btn_wrap {
    text-align: center;
  }
  
  button:hover {
    cursor: pointer;
  }